@charset "utf-8";

:root {
  --main-gray: #5c5c5c;
  --main-blue: #5e889e;
  --sub-purple: #755562;
  --light-gray: #999;
}

/* main */

main {
  height: 230px;
  background-image: url(../img/header-bg.jpg);
  background-size: cover;
  background-position: 50% 10%;
}
main .cloude {
  width: 100%;
  height: 100%;
  background-image: url(../img/cloud.png);
  background-position: 50% 50%;
  background-repeat: no-repeat;
  animation: 160s moveCloude infinite linear;
  position: relative;
}

@keyframes moveCloude {
  /*    0%{background-position: 0% 130%;}
      50%{background-position: 100% 130%;}
      100%{background-position: 0% 130%;} */
}

section .wrap {
  width: 1200px;
  margin: 0 auto;
}

section .wrap .title {
  text-align: center;
  font-size: 24px;
  text-transform: uppercase;
  margin-bottom: 40px;
  color: var(--main-gray);
}
section .wrap .content_top {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
}
section .wrap .content_top .txt_part {
  width: calc(100% / 2 * 1);
}
section .wrap .content_top .txt_part p {
  text-align: left;
  color: var(--main-gray);
}
section .wrap .content_top .img_part {
  width: calc(100% / 2 * 1);
  display: flex;
  justify-content: center;
  align-items: center;
}
section .wrap .content_top .img_part img {
  height: 300px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50%;
}
section .wrap .content_bottom {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-bottom: 40px;
}
section .wrap .content_bottom .img_part {
  width: calc(100% / 2 * 1);
  display: flex;
  justify-content: center;
}
section .wrap .content_bottom .txt_part {
  width: calc(100% / 2 * 1);
}
section .wrap .content_bottom .img_part img {
  height: 300px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
}
